body{
font-family: Arial;
background:#f4f7fb;
text-align:center;
}

.container{
margin-top:120px;
}

h1{
color:#1a3c6e;
}

button{
background:#1a3c6e;
color:white;
border:none;
padding:12px 25px;
margin:10px;
cursor:pointer;
border-radius:6px;
}

button:hover{
background:#0f2645;
}

.login-box{
width:300px;
margin:120px auto;
padding:30px;
background:white;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

input{
width:90%;
padding:10px;
margin:10px;
}
.dashboard{
margin-top:40px;
}

.dashboard button{
display:block;
margin:10px auto;
width:200px;
}